@import url('https://fonts.googleapis.com/css?family=Montserrat');
body{
  font-family: 'Montserrat', sans-serif;
}
.toggle{
  cursor: pointer;
  color: #00ccff;
}
.toggle:hover{
  text-decoration: underline;
}
.dash{
  cursor: pointer;
  color: #00ccff;
}
.capital-correct{
  display: none;
}
.this-dash{
  display: none;
}
